.error-message {
    height: 15px;
    font-size: 14px;
    opacity: 0;
    color: red;
    transition: opacity 0.3s;
  }
  
  .error-message.visible {
    opacity: 1;
  }
  
  @media (max-width: 767px) {
    .side-img {
        display: none;
    }
}